.newsBodyContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.newsBodyGroup1,
.newsBodyGroup2,
.newsBodyGroup3 {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.newsBodyGroup4 {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.newsBody1 {
  flex-grow: 2;
}

.newsBody2 {
  flex-shrink: 2;
}

.newsBody3 {
  flex-shrink: 2;
}

.newsBody4 {
  flex-grow: 2;
}

.newsBody5 {
  flex-shrink: 2;
}

.newsBody6 {
  flex-shrink: 2;
}

.newsBody7 {
  flex-grow: 2;
}

.newsBody8 {
  flex-shrink: 2;
}

.newsBody9 {
  flex-grow: 2;
}
.newsBody10 {
  flex-grow: 2;
}

.newsBody {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: 364px;
}

.newsBody img {
  width: 100%;
  height: auto;
  margin: 10px;
  overflow: hidden;
  object-fit: cover;
}

.newsBody h2 {
  font-family: "Open Sans Condensed", sans-serif;
  color: black;
  text-align: center;
  padding-top: 10px;
  font-weight: 700;
  font-size: 20px;
}

.newsBody h3 {
  display: none;
}

.newsBody a {
  text-decoration: none;
}

.newsBody a:hover {
  text-decoration: underline;
}

section,
footer {
  background-color: #cff4d2;
}

figcaption {
  display: none;
}
