@media screen and (min-width: 425px) {
  nav ul {
    display: flex;
    min-height: 30px;
    width: 100%;
    background-color: #79e495;
    justify-content: space-around;
    padding-top: 10px;
    font-family: "Open Sans Condensed", sans-serif;
    color: white;
  }

  nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: 600;
  }

  .hamburger {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 50px;
  }

  .newsBody h2 {
    font-size: 30px;
  }

  nav {
    height: 65px;
  }

  nav ul li a {
    text-decoration: none;
    font-size: 35px;
    color: white;
    font-weight: 600;
  }
  nav ul li a:hover {
    text-decoration: underline;
  }

  .newsBody h3 {
    display: block;
    font-family: "Open Sans Condensed", sans-serif;
    color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
  }

  #mostSeen .mostSeenContainer h3 {
    font-size: 40px;
  }
  #mostSeen .mostSeenBox a h3 {
    font-size: 35px;
  }

  #newsletter h3 {
    font-size: 45px;
  }

  .boxes h3 {
    font-size: 40px;
  }

  .boxes h4 {
    font-size: 40px;
  }
}
