input  {
  padding: 10px;
  width: 100%;
  border-radius: 15px;  
}

#formulario {
  display: block;
}

.title {
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 45px;
  font-family: "Open Sans Condensed", sans-serif;
  padding: 10px;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  
  background-color: #4ab3fa;
  color: white;
  font-size: 30px;
  margin: 15px;
  height: 40px;
  border-radius: 10px;
  width: 50%;
}

label  {
  display: flex;
  justify-content: center;
  font-family: "Open Sans Condensed", sans-serif;
  margin: 10px;
  font-size: 30px;
  font-weight: 600;
}

.error {
  font-family: "Open Sans Condensed", sans-serif;
  margin: 10px;
  font-size: 17px;
  color: red;
  font-weight: 600;

}
