header #journalName {
  min-height: 50px;
  width: 100%;
  background-color: #4ab3fa;
  color: white;
  font-size: 30px;
  font-family: "Open Sans Condensed", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  align-items: flex-start;
  min-height: 30px;
  width: 100%;
  background-color: #79e495;
  padding-top: 10px;
  font-family: "Open Sans Condensed", sans-serif;
  color: white;
}

nav ul {
  display: none;
}

.hamburger {
  padding: 10px;
}

@media screen and (min-width: 425px) {
  nav ul {
    display: flex;
    min-height: 30px;
    width: 100%;
    background-color: #79e495;
    justify-content: space-around;
    padding-top: 10px;
    font-family: "Open Sans Condensed", sans-serif;
    color: white;
  }

  nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: 600;
  }

  .hamburger {
    display: none;
  }
}
