#mostSeen {
  min-height: 70px;
  width: 100%;
  background-color: #4ab3fa;
  font-family: "Open Sans Condensed", sans-serif;
  color: white;
  display: flex;
  flex-flow: column;
}

#mostSeen h3 {
  font-size: 20px;
  margin: 10px;
}

.mostSeenBox {
  display: flex;
  border-bottom: 1px solid black;
}

.mostSeenBox a {
  text-decoration: none;
  margin: 10px;
  font-family: "Open Sans Condensed", sans-serif;
  color: white;
}

.mostSeenBox img {
  width: 15%;
  height: auto;
  margin: 10px;
  object-fit: cover;
}
